<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stock simulator FAQ</title>

    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='images/mortis.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/faq.css')}}">
</head>
<body>

    <h1>
        Q: Is this website completed?
    </h1>
    <h3>
        A: No
    </h3>
    
    
</body>
</html>