<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stock simulator FAQ</title>

    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='images/mortis.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/faq.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet"> 
</head>
<body>

    <h1>
        Q: How does it work?
    </h1>
    <h3>
        A: You can buy stocks in the home page and sell it anytime you want in the mystocks page.<br>
        Every 10 seconds all the stock's value will change randomly so you can sell the stock you buy when its price increase
    </h3>
    <h1>
        Q: When I buy someone's stock will s/he get the money?
    </h1>
    <h3>
        A: No. Stock owner can't get the money when others purchase their stocks.
    </h3>
    <h1>
        Q: Is this website completed?
    </h1>
    <h3>
        A: No
    </h3>
    
    
</body>
</html>