<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{{url_for('static', filename='styles/info.css')}}">

    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="{{url_for('static', filename='scripts/info.js')}}" defer></script>

</head>
<body>
    <h1>Owner: {{stock_owner}}</h1>
    <canvas id="graph"></canvas>

    <div class="hide">
        <p id="name">{{owner}}</p>
        <p id="history">{{history}}</p>
    </div>

</body>
</html>