body {
    background-color: #2e2b2b;
}

.greenFont {
    color: #00FF73;
    top: 50px;
    font-size: 70px;
}

.mochi {
    font-family: 'Mochiy Pop P One', sans-serif;
}

#username {

    height: 50px;

    background-color: grey;

    position: relative;

    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);

    font-size: 30px;
    text-align: center;
}

#coins {

    height: 50px;

    background-color: lightslategray;

    position: relative;

    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);

    text-align: center;
    font-size: 30px;

}

#profile {
    border: 5px solid gold;
    border-style: outset;

    width: 330px;
    height: 100px;

    position: absolute;
    top: 2%;
    left: 85%;

    transform: translate(-50%, 0%);
}