body {
    background-color: #2e2b2b;
}

.greenFont, a {
    color: #00FF73;
    text-decoration: none;
}

.mochi {
    font-family: 'Mochiy Pop P One', sans-serif;
}

.archivo {
    font-family: 'Archivo Black', sans-serif;
}

#username {

    height: 50px;
    border-bottom: 3px solid gold;
    border-bottom-style: outset;

    background-color: black;

    position: relative;

    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);

    font-size: 30px;
    text-align: center;
}

#coins {

    height: 50px;

    background-color: black;

    position: relative;

    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);

    text-align: center;
    font-size: 30px;

}

#profile {
    border: 5px solid gold;
    border-style: outset;

    width: 300px;
    height: 100px;

    position: absolute;
    top: 2%;
    left: 89%;

    transform: translate(-50%, 0%);
}

#tabs {
    background-color: black;

    width: 1100px;
    height: 70px;

    position: absolute;

    top: 5%;

}

ul {
    list-style-type: none;

    position: absolute;
    top: 0%;

    transform: translate(0%, -30%);
}

li {
    width: 180px;

    float: left;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

li.selected {
    border-bottom: 3px solid yellow;
}

li :hover {
    color: gold;
}

#daily {
    background-color: black;

    width: 900px;
    height: 70px;

    position: absolute;
    top: 20%;

    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

#daily button {
    background-color: #08ffc1;
    font-size: 35px;
    text-align: center;
    border: 1px solid;
    width: 150px;
    height: 47px;
    padding: 0px;
}

#daily button:hover {
    color: gold;
}